<html lang='en'>
{% extends 'base.html' %}
{% block content %}
 <h2> Add Products here </h2>
<form method="POST" class="post-form" action="/add_product/" enctype="multipart/form-data">
          {% csrf_token %}
    <div class="form group row col sm 2">
        {{ form.prod_type.label }} : {{ form.prod_type }}
    </div> 
    <div class="form group row col sm 2">
        {{ form.prod_name.label }}: {{ form.prod_name }}
    </div>
    <div class="form group row col sm 2">
        {{ form.prod_price.label }}: {{ form.prod_price }}
    </div>
    <div class="form group row col sm 2">
        Add Product Profile : {{ form.prod_profile }}
    </div>
         <button type="submit" class="btn-success"> Add  </button>
          <button type="submit" class="btn-primary"> Cancel</button>  
        </form>
{% endblock content %}
</html>