<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="goto-here" style="background-image: url({% static 'media/image_2.jpg' %});">
	<table class="table table-striped table-bordered table sm">
		<thead>
	 <tr>
		<th> Bill No.</th>	  
        <th>Customer</th>  
        <th>Product</th>  
        <th>Quantity</th>  
        <th>Address</th>  
        <th> Respond </th> 
    </tr>  
    </thead>
		<tbody style="color:rgb(0,0,1); font-weight: 3pt;">
			{% for Invoice in Invoices %}
			 {% if Invoice.is_accepted == False %}
			 <tr>
			 	<td>{{ Invoice.bill_id }}</td>
			 	<td>{{ Invoice.Customer }}</td>
			 	<td>{{ Invoice.Product }}</td>
			 	<td>{{ Invoice.prod_Qty }}</td>
			 	<td>{{ Invoice.address }}</td>
			 	<td><a href="/AcceptOrders/{{ Invoice.bill_id }}/" class="btn-primary">Accept</a>
               </td>	
			 </tr>
			 {% endif %}
			{% endfor %}
		</tbody>
	</table>
  
</body>
{% endblock content %}
</html>